													/*login and signup page*/
.form{				/* have to remodule it */
	position:  absolute;
	border: 10px solid rgb(45, 172, 179); 
	border-radius: 20px;
	top: 20%;
	left: 35%;
	width: 400px;
  	height: 400px;
  	padding: 100px;

}

.form h2{
	text-align: center;
	background-image: linear-gradient(#5cf0f0,#368d8d);
    -webkit-background-clip: text;
    color: transparent; 
}
.user-form a{
	font-size: large;
	font-weight: 700;
	position: absolute;
	left: 100px;  			/*100px for padding of parent element */
	text-decoration: none;
	text-align: center;
	background-image: linear-gradient(#5cf0f0,#368d8d);
	-webkit-background-clip: text;
    color: transparent;
    padding-top: 20px;
}
.user-form label {
	font-size: large;
	color: black;
	display: inline-block;
	width: 50%;
}

.form .btn {
	right: 120px;		/*100px for padding of parent element */
}

.btn {
	position: absolute;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(#5cf0f0,#368d8d);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: large;
}


											/*features.jsp - setting styles temporarily*/
.features h2,.features h3{
	text-align: center;
}
.menu {
	text-align: center;
}
.menu form{
	display: inline-block;
}

.border {
	border: 5px solid rgb(45, 172, 179); 
	border-radius: 20px;
	padding: 10px;
}

#withdrawDiv,#depositDiv,#neftDiv{
	display: none;
}

									/*transaction*/


.transaction{
	text-align: center;
}

.transaction form{
	display: inline-block;
}



									/*general*/

table{
	border: 2px solid;
	width: 50%;
}

span{
	color: red;
}